# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Database
database/*.db

# Cache & Logs
cache/
logs/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini